---
http_interactions:
- request:
    method: get
    uri: https://api.fixer.io/latest?symbols=USD,GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 08 Aug 2017 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2017-08-08","rates":{"GBP":0.90678,"USD":1.1814}}'
  recorded_at: Tue, 08 Aug 2017 14:59:59 GMT
recorded_with: VCR 3.0.3
